<div id="benefits" class="section">
  <div class="container">

    <h2><i class="icofont-medal"></i>&nbsp;&nbsp;Beneficios</h2>
    <ul>
      <li>Aprenderás a comunicarte en situaciones reales en un grupo dinámico de 4 a 6 alumnos</li>
      <li>Tendrás asesoría para orientar tus estudios</li>
      <li>Tenemos muchos horarios a escoger </li>
      <li>Profesores altamente capacitados </li>
      <li>Método de enseñanza acorde al Marco común europeo </li>
      <li>Aprenderás también cultura y costumbres </li>
    </ul>

  </div>
</div>
