<div id="contact" class="section">
  <div class="container">
    <h2><i class="icofont-hat"></i>&nbsp;&nbsp;Inscribirse</h2>
    <p>
      Comunícate en un nuevo idioma y abre las puertas a nuevas posibilidades.<br/> 
      Si no conoces tu nivel del idioma que deseas aprender te mandamos un examen de ubicación
    </p>

    <div class="centered">
      <a class="button" href="mailto:instituto.imacle@gmail.com">Me inscrio</a>
      <br/>
      <small>*Si tienes compañeros con intereses en común, arma tu grupo.</small>
    </div>

  </div>
</div>