<div id="courses" class="section">
  <div class="container">

    <h2><i class="icofont-group-students"></i>&nbsp;&nbsp;Clases en línea</h2>

    <p>Tenemos cursos para viajar y trabajar en el extranjero y cursos para aprender a redactar correctamente en inglés y en francés. También preparación para certificaciones.</p>
    <br>
    <div class="course">
      <div class="abstract">
        <div class="name">
          <p><i class="icofont-laptop"></i>  Cursos académicos</p>
        </div>
        <div class="more-icon"><i class="icofont-rounded-right"></i></div>
      </div>
      <div class="more">
        <p>
          <span>Niveles de principiente a avanzado</span>

          Este curso te permitirá aprender el idioma que elijas desde el nivel principiante hasta avanzado. Hablarás de manera fluida y natural. Podrás comunicarte de manera efectiva.

          <ul>
           <li>100% acompañado de un profesor durante 4 horas a la semana.</li> 
           <li>Tendrás 1 evaluación semanal (pronunciación, comprensión oral y comprensión escrita más ejercicios gramaticales).</li>
           <li>Expresión oral con apoyo del profesor en cada clase.</li>
           <li>Harás exposiciones para expresarte de forma continua y con interacción grupal.</li>
           <li>Acompañamiento especial en expresión escrita y en pronunciación. </li>
           <li>Adquirirás nuevas competencias y desarrollarás el pensamiento crítico.</li>
           <li>Llevarás un método actualizado con ejercicios virtuales.</li>
           <li>Dominarás el idioma que elijas como un experto.</li>
         </ul>
       </p>
       
     </div>
   </div>

   <div class="course">
    <div class="abstract">
      <div class="name">
        <p><i class="icofont-laptop"></i>  Cursos Especificos</p>
      </div>
      <div class="more-icon"><i class="icofont-rounded-right"></i></div>
    </div>
    <div class="more">

      <p> 
        <span>English the American Way</span>
        Para estudiantes de nivel intermedio que deseen aprender expresiones que se usan en Norteamérica y conocer a fondo su estilo de vida. Este curso implica adentrarse en la cultura para perfeccionar el inglés americano y por fin hablar como un nativo.

        <span>Fortalece tus conocimientos</span>
        Para estudiantes de nivel avanzado que deseen expresar su opinión, debatir y fomentar su cultura general siguiendo temas actuales del mundo que les rodea. Te ayuda además a ampliar tu vocabulario, a perfeccionar tu pronunciación y tener mayor fluidez. Este curso es de gran ayuda para los estudiantes que deseen aprobar una certificación.
      </p>
    </div>
  </div>
  <br>
  <p>Si tienes dificultades para aprender un idioma te daremos la guía que necesitas para organizar tu forma de estudio</p>
</div>
</div>
<div class="curve">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>