<div id="courses" class="section">
  <div class="container">
    <h2><i class="icofont-group-students"></i>&nbsp;&nbsp;Clases en línea</h2>
    <br>

     <p>Nuestros cursos estan diseñados para adolescentes y adultos.</p>
     <br>

    <div class="course">
      <div class="abstract">
        <div class="name">
          <p><i class="icofont-laptop-alt"></i>  Cursos académicos</p>
        </div>
        <div class="more-icon"><i class="icofont-rounded-right"></i></div>
      </div>
      <div class="more">
        <p>
          <span>Niveles desde principiente hasta avanzado (A1-C1)</span>
          Los cursos académicos son lo que estás buscando para aprender a hablar de manera fluida y natural en el idioma que elijas: inglés, francés, español o alemán. Tenemos cursos desde el nivel principiante hasta avanzado (A1-C1). Si no conoces el nivel que tienes del idioma que deseas aprender, te enviamos un examen de ubicación gratuito.
          <ul>
           <li>100% acompañado de un profesor durante 4.5 horas a la semana.</li> 
           <li>Tendrás 1 evaluación por unidad de comprensión y expresión escrita y de comprensión y expresión oral.</li>
           <li>Hablarás bastante en cada clase para desarrollar una buena pronunciación con estructuras gramaticales correctas e incrementar tu vocabulario.</li>
           <li>Escucharás audios con conversaciones, verás videos y leerás artículos en clase.</li>
           <li>Recibirás un reporte de progreso al final de cada unidad con tus resultados, avances y retroalimentación.
           </li>
           <li>Acompañamiento especial en expresión escrita y en pronunciación. </li>
           <li>Adquirirás nuevas competencias y desarrollarás el pensamiento crítico.</li>
           <li>Llevarás un método actualizado con ejercicios virtuales.</li>
           <li>Dominarás el idioma que elijas como un experto.</li>
         </ul>
       </p>
     </div>
   </div>
   <div class="course">
    <div class="abstract">
      <div class="name">
        <p><i class="icofont-laptop-alt"></i>  Cursos de conversación</p>
      </div>
      <div class="more-icon"><i class="icofont-rounded-right"></i></div>
    </div>
    <div class="more">
      <p> 
        <span>English the American Way</span>
        Para estudiantes de nivel intermedio (B1) que deseen aprender expresiones que se usan en Norteamérica y conocer a fondo su estilo de vida. Este curso implica adentrarse en la cultura para perfeccionar el inglés americano y por fin hablar como un nativo.

        <span>Fortalece tus conocimientos</span>
        Para estudiantes de nivel intermedio (B1) y avanzado (B2) que deseen expresar su opinión, debatir y fomentar su cultura general siguiendo temas actuales del mundo que les rodea. Te ayuda además a ampliar tu vocabulario, a perfeccionar tu pronunciación y tener mayor fluidez. Este curso es de gran ayuda para los estudiantes que deseen aprobar una certificación en el idioma que elijas: inglés, francés, español o alemán.
      </p>
    </div>
  </div>
  <div class="course">
    <div class="abstract">
      <div class="name">
        <p><i class="icofont-laptop-alt"></i>  Cursos para niños de 6 a 12 años</p>
      </div>
      <div class="more-icon"><i class="icofont-rounded-right"></i></div>
    </div>
    <div class="more">
      <p> 
        <span>Aprender inglés o francés es mucho más fácil cuando empiezas a temprana edad.</span>

        Si tus hijos comienzan ahora se volverán expertos para: 

        <ul>
          <li>Comunicarse con personas de todo el mundo.</li>
          <li>Acceder a programas y becas en las mejores universidades del mundo a través de algún intercambio o inscribiéndose ellos mismos.</li>
          <li>Acceder al mercado laboral internacional, lo que los llevará a tener un <li>salario bastante alto.</li>
          <li>Crear su propia empresa o negocio y promoverlo a través del mundo.</li>
        </ul>
        </p>
        <p> 
        <span>Desde muy pequeños se olvidaran de las barreras del idioma. No se darán cuenta que están aprendiendo porque aprenderán divirtiéndose.</span> 
        <ul>
           <li>100% acompañado de un profesor durante 3 horas a la semana.</li>
        <li>A través de una plataforma interactiva tu hijo desarrollará una buena pronunciación con ejercicios de audio, juegos y canciones.</li>
        <li>Aprenderá a través de cuentos y videos sobre el mundo que lo rodea.</li>
        <li>Recibirá un reporte de progreso al final de cada unidad con sus resultados, avances y retroalimentación.</li>
        <li>Tendrá acompañamiento especial en expresión escrita y en pronunciación.</li> 
        <li>Adquirirá nuevas competencias.</li>
        <li>Llevará en clase un método digital con ejercicios virtuales más un libro y un cuaderno de ejercicios que se le mandarán sin costo alguno.</li>
        </ul>
      </p>
    </div>
  </div>

  <br>
  <p>Si tienes dificultades para aprender un idioma te daremos la orientación que necesitas para organizar tu forma de estudio.</p>
</div>
</div>
<div class="curve">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>