{% if site.translations[site.lang].faq %}
<div id="faq" class="section">
  <div class="container">

    <h2><i class="icofont-hat"></i>&nbsp;&nbsp;{% t faq.title %}</h2>

    <p>{% t faq.subtitle %}</p>

    <br/>

    {% for item in site.translations[site.lang].faq.items %}
     
    <div class="question fade-in show-once">
      <div class="abstract">
        <div class="name">
          <p>{{ item["q"] }}</p>
        </div>
        <div class="more-icon">+</div>
      </div>
      <div class="more">
        <p>{{ item["a"] }}</p>
      </div>
    </div>

    {% endfor %}

    <br/>

  </div>
</div>
{% endif %}