{% if site.translations[site.lang].faq %}
<div id="faq" class="section">
  <div class="container">

    <h2>{% t faq.title %}</h2>

    <p>{% t faq.subtitle %}</p>

    <br/>

    {% for item in site.translations[site.lang].faq.items %}
    <div class="question fade-in show-once">
      {%- if forloop.index == 1 -%}
      <div class="abstract show">
      {%- else -%}
      <div class="abstract">
      {%- endif -%}
        <div class="name"> 
          {{ item["q"] | markdownify }}
        </div>   
        <div class="more-icon">+</div>     
        <div class="more">
          <div class="content">
            {{ item["a"] | markdownify  }}
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

    <br/>

  </div>
</div>

{% endif %}