<div id="faq" class="section">
  <div class="container">

    <h2>FAQ</h2>

    <p>Si tienes dudas, aclàralas con nuestras preguntas frecuentes</p>

    <div class="question">
      <div class="abstract">
        <div class="name">
          <p>¿Qué es Macle?</p>
        </div>
        <div class="more-icon">+</div>
      </div>
      <div class="more">
        <p>Macle es un instituto 100% online dedicado a la enseñanza de idiomas (inglés, francés, español y alemán). Contamos con un coordinador académico, dirección y finanzas. 
          <br/>
        En nuestro instituto aprenderás idiomas siguiendo métodos reconocidos a nivel mundial y podrás prepararte para obtener una certificación.</p>
      </div>
    </div>

    <div class="question">
      <div class="abstract">
        <div class="name">
          <p>¿Cómo puedo inscribirme a un curso? </p>
        </div>
        <div class="more-icon">+</div>
      </div>
      <div class="more">
        <p>Para inscribirte sin costo ve a la parte “planes” haz click en el botón verde “me inscribo” del curso que deseas (curso académico, curso de conversación, cursos para niños 6 - 12 años).<br/>
          Este botón verde “me inscribo” te llevará a un formulario. Allí debes llenar tus datos de contacto, escoger el idioma y el nivel que deseas estudiar. También deberás escoger un HORARIO.<br/><br/>
        Una vez que termines de llenar el formulario y lo mandes, nosotros te contactaremos vía mail o vía telefónica para darte la fecha de inicio de tu curso y los métodos de pago. Si deseas obtener el 20% de descuento haciendo pagos trimestrales solo tienes que mencionarlo cuando te contactemos.</p>
      </div>
    </div>

    <div class="question">
      <div class="abstract">
        <div class="name">
          <p>¿Los profesores son nativos? </p>
        </div>
        <div class="more-icon">+</div>
      </div>
      <div class="more">
        <p>Contamos con profesores nativos y no nativos, todos certificados en el idioma que imparten. Todos nuestros profesores, tanto nativos como no nativos pasan por un proceso de selección con varios filtros. Además cuentan con estudios superiores y experiencia en la enseñanza de idiomas.  </p>
      </div>
    </div>

    <div class="question">
      <div class="abstract">
        <div class="name">
          <p>¿Debo comprar material?</p>
        </div>
        <div class="more-icon">+</div>
      </div>
      <div class="more">
        <p>No. Te proporcionamos el material que necesitas para aprender: libro, cuaderno de ejercicios y audios para practicar. Esto es sin costo alguno. </p>
      </div>
    </div>

    <div class="question">
      <div class="abstract">
        <div class="name">
          <p>¿Cómo son las clases? </p>
        </div>
        <div class="more-icon">+</div>
      </div>
      <div class="more">
        <p>En clase de inglés, francés, español o alemán usamos documentos como videos, textos, audios de conversaciones, juegos interactivos, flashcards y actividades especiales para la expresión oral continua y en interacción (conversación).<br/><br/>

          Los profesores siguen las secuencias del libro para realizar una evaluación. Cada secuencia (unidad didáctica) puede durar de 4 a 6 clases, dependiendo del nivel y del idioma. Este es un ejemplo de una secuencia en inglés nivel principiante:

          <h3>DESCUBRIMIENTO</h3> 
          <ul>
            <li>SNAPSHOT (listen and practice)</li>
            <li>CONVERSATION (listen and practice) </li>
            <li>GRAMMAR FOCUS 1 ← Pair work/ Group work </li>
          </ul>

          <h3>PRÁCTICA + PRODUCCIÓN</h3> 
          <ul>
            <li>LISTENING</li>
            <li>SPEAKING (discuss) </li>
          </ul>

          <h3>SISTEMATIZACIÓN</h3> 
          <ul>
            <li>CONVERSATION - listen and practice </li>
            <li>GRAMMAR FOCUS 2  ← Pair work/ Group work.</li>
            <li>PRONUNCIATION - SPEAKING</li>
          </ul>

          <h3>PRÁCTICA + COMPRENSIÓN ESCRITA</h3> 
          <ul>
            <li>LISTENING </li>
            <li>WORD POWER (vocabulario) </li>
            <li>Recapitular, resolver dudas </li>
            <li>READING - SPEAKING (discuss)</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="question">
      <div class="abstract">
        <div class="name">
          <p>¿Qué material usan para dar las clases?</p>
        </div>
        <div class="more-icon">+</div>
      </div>
      <div class="more">
        <p>En las clases de inglés contamos con la plataforma de Cambridge, la cual le ha dado excelentes resultados a millones de estudiantes alrededor del mundo.<br/><br/>
          En francés seguimos los métodos de Maison de Langues, editorial reconocida a nivel mundial, la cual ha ganado varios premios por sus métodos de enseñanza. 
          En español seguimos los manuales digitales de Campus difusión que nos dan acceso a la enseñanza del Instituto Cervantes, institución pública creada en España en 1991 para promover universalmente la enseñanza, el estudio y el uso del español y contribuir a la difusión de las culturas hispánicas en el exterior.<br/>
        En alemán seguimos los métodos de Hueber, los cuales han sido utilizados desde hace muchos años y han formado a millones de alumnos quienes han obtenido muy buenos resultados.</p>
      </div>
    </div>

    <div class="question">
      <div class="abstract">
        <div class="name">
          <p>¿Entregan alguna constancia de estudio? </p>
        </div>
        <div class="more-icon">+</div>
      </div>
      <div class="more">
        <p>Si. Te otorgamos un control de progreso con retroalimentación en formato PDF al finalizar cada unidad y un diploma al finalizar cada nivel.</p>
      </div>
    </div>

    <div class="question">
      <div class="abstract">
        <div class="name">
          <p>¿Podré obtener una certificación al finalizar un nivel? </p>
        </div>
        <div class="more-icon">+</div>
      </div>
      <div class="more">
        <p>No somos aplicadores de exámenes para obtener certificaciones pero te preparamos para las certificaciones de manera gratuita.<br/>

          En inglés te preparamos para obtener una certificación de Cambridge. Estas certificaciones no expiran así que al obtener una, la obtendrás de por vida.<br/>

          En francés te preparamos para obtener el DELF y el DALF que son los diplomas oficiales que acreditan tu nivel de dominio del idioma francés, los cuales son otorgados por France Éducation International por parte del Ministerio Francés de Educación Nacional.<br/><br/>

          En español te preparamos para obtener el DELE que otorga el Instituto Cervantes, por parte del Ministerio de Educación, Cultura y Deporte de España.<br/>

        En alemán te preparamos para pasar un examen de Goethe-Institut, institución cultural de la República Federal de Alemania, dedicada a la difusión de la lengua y la cultura alemana en el mundo. Ofrece exámenes para conseguir acreditar tu nivel de alemán a través de los certificados de alemán (Goethe-Zertifikat) de todos los niveles del Marco Común Europeo. </p>
      </div>
    </div>

    <br/>
  </div>
</div>
