<div id="footer">
  <div class="container">
    <nav>
      <div class="column">
        <h5 class="title">Cursos</h5>
        <ul>
          <li><a href="#courses">Cursos Academicos</a></li>
          <li><a href="#courses">English the American Way</a></li>
          <li><a href="#courses">Fortalece tus conocimientos</a></li>
        </ul>
      </div>
      <div class="column">
        <h5 class="title">A Propósito</h5>
        <ul>
          <li><a href="#benefits">Beneficios</a></li>
          <li><a href="#prices">Planes</a></li>
          <li><a href="#testimonials">Lo que dicen</a></li>
          <li><a href="#team">Quienes somos</a></li>
        </ul>
      </div>
      <div class="column">
        <h5 class="title">Social</h5>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
      <div class="column copyrights">
      <p>
        © iMacle <br>
        All rights reserved
      </p>
    </div>
    </nav>
     
  </div>
</div>