<div id="footer">
  <div class="container">
    <nav>
      {% if site.translations[site.lang].courses %}
      <div class="column">
        <h4 class="title">{% t courses.title %}</h4>
        <ul>
          {% for item in site.translations[site.lang].prices.plans %}
          <li><a href="./course-{{ item['id'] }}">{{ item["name"] }}</a></li>
          {% endfor %}
          <li><a href="./index#prices">{% t prices.title %}</a></li>
        </ul>
      </div>
      {% endif %}
      {% if site.translations[site.lang].benefits %}
      <div class="column">
        <h4 class="title">{% t global.about %}</h4>
        <ul>
          <li><a href="./index#benefits">{% t benefits.title %}</a></li>
          <li><a href="./index#testimonials">{% t testimonials.title %}</a></li>
          <li><a href="./mission">{% t mission.title %}</a></li>
          <li><a href="./team">{% t team.title %}</a></li>
        </ul>
      </div>
      {% endif %}
      <div class="column social">
        <h4 class="title">{% t global.social %}</h4>
        <ul>
          <li><a href="https://facebook.com/instituto.macle" alt="facebook" target=_blank>
            <img src="https://cdn.cdnlogo.com/logos/f/83/facebook.svg" width="28" height="28" loading="lazy">
          </a></li>
          <li><a href="https://twitter.com/institutoMacle" target=_blank>
            <img src="https://cdn.cdnlogo.com/logos/t/96/twitter-icon.svg" alt="twitter" width="28" height="28" loading="lazy">
          </a></li>
          <li><a href="https://instagram.com/instituto.macle" target=_blank>
            <img src="https://cdn.cdnlogo.com/logos/i/4/instagram.svg" alt="instagram" width="28" height="28" loading="lazy"></a>
          </a></li>
          <li><a href="https://www.youtube.com/channel/UC2X2g4F4C1uYM-y283IUdUg" target=_blank>
            <img src="https://cdn.cdnlogo.com/logos/y/84/youtube.svg" alt="youtube" width="28" height="28" loading="lazy"></a>
          </a></li>
        </ul>
      </div>
      <div class="column copyrights">
      <p>
        <b>© iMACLE</b> <br>
        All rights reserved
      </p>
    </div>
    <div style="clear:both;"></div>
    </nav>
  </div>
</div>