<div id="footer">
  <div class="container">
    <nav>
      <div class="column">
        <h5 class="title">Cursos</h5>
        <ul>
          <li><a href="#courses">Cursos Academicos</a></li>
          <li><a href="#courses">Cursos por Objetivos</a></li>
          <li><a href="#prices">Planes</a></li>
        </ul>
      </div>
      <div class="column">
        <h5 class="title">A Propósito</h5>
        <ul>
          <li><a href="#benefits">Beneficios</a></li>
          <li><a href="#testimonials">Lo que dicen</a></li>
          <li><a href="#story">Nuestra historia</a></li>
          <li><a href="#team">Nuestros profesores</a></li>
        </ul>
      </div>
      <div class="column">
        <h5 class="title">Redes sociales</h5>
        <ul>
          <li><a href="https://facebook.com/instituto.iMacle" target=_blank>Facebook</a></li>
          <li><a href="https://twitter.com/institutoMacle" target=_blank>Twitter</a></li>
          <li><a href="https://instagram.com/instituto.macle" target=_blank>Instagram</a></li>
        </ul>
      </div>
      <div class="column copyrights">
      <p>
        © iMacle <br>
        All rights reserved
      </p>
    </div>
    </nav>
  </div>
</div>