<head>
	<meta charset="utf-8" />
	<title>{% t global.description %}</title>
	<meta name="description" content="{% t global.description %}">
	<meta name="keywords" content="{% t global.keywords %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:image" content="./assets/images/thumbnail.webp">
	<meta property="og:url" content="https://i-macle.com/index.html">
	<link rel="icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl_root }}"/>
	<link rel="stylesheet" href="{{ "/main.css" | prepend: site.baseurl_root }}"/>

	<!-- Meta Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '921201905312073');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=921201905312073&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Meta Pixel Code -->
</head>