<header class="header">
  <div class="container">
    <div class="title">
      <h1 class="name">iMACLE</h1>
      <h2 class="tagline">Metodo Accional y Comunicativo<br/>en Lenguas Extranjeras</h2>

      <br/><br/>

      <img src="assets/images/003-spain.png" width="32">
      <img src="assets/images/001-united-kingdom.png" width="32">
      <img src="assets/images/002-france.png" width="32">
      <img src="assets/images/germany.png" width="32">
      
    </div>

    <div class="front">&nbsp;</div>
  </div>
</header>