<div id="header">
  <div class="container">
    <div class="content">

      <div class="column left">

        <h1>{% t header.baseline %} </h1>

        <ul>
          {% for item in site.translations[site.lang].header.items %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        <div style="clear:both;"></div>
        {% if site.translations[site.lang].header.cta %}
        <div>
          <a id="subscribe" class="button" href="#prices">{% t header.cta %}&nbsp;&nbsp;<i class="icofont-rocket"></i></a>
        </div>
        {% endif %}
        <div class="flags">
          {% for lang in site.translations[site.lang].global.languages %}
          <i class="flag {{ lang }}"></i>
          {% endfor %}
        </div>
      </div>
      
      <div class="column right">
       <div class="image"></div>
     </div>

   </div>
 </div>
</div>