<div id="header">
  <div class="container">
    <div class="content">
      
      <div class="column left">

        <h1>{% t global.baseline %} </h1>

        <ul>
        <li>Classes 100% Online</li>
        <li>Small groups</li>
        <li>Native teachers</li>
        </ul>
        <div style="clear:both;"></div>
        <a id="subscribe" class="button" href="#prices">{% t banner.register %} <i class="icofont-rounded-right"></i></a>
      </div>
      
      <div class="column right">
         <div class="image"></div>
      </div>
      
    </div>
  </div>
</div>