<div id="methodology" class="section">
  <div class="container">

    <h2><i class="icofont-teacher"></i>&nbsp;&nbsp;Cursos A1-B2</h2>
    <ul>
      <li>100% acompañado de un profesor durante 4 horas a la semana</li>
      <li>Tendrás 1 evaluación semanal (pronunciación, comprensión oral y comprensión escrita más ejercicios gramaticales)</li>
      <li>Expresión oral en interacción con el profesor y con el grupo en cada clase</li>
      <li>Harás exposiciones para expresarte de forma continua y con interacción grupal</li>
      <li>Acompañamiento especial en expresión escrita y en pronunciación</li>
    </ul>


    <p>Tenemos distintos inicios de clases con distintos horarios.<br/>
      Todos los niveles disponibles en inglés, francés, español y alemán.
    </p>

  </div>
</div>