<div id="mission">
  <div class="container">
    <h2><i class="icofont-dart"></i>&nbsp;&nbsp;{% t mission.title %}</h2>

    <p>{% t mission.short %}<span class="dots">..</span><a class="toggle-more" onclick="toggleMore()">{% t global.read_more %}</a> 
      <span class="more">
        <br/>
        {% t mission.long %}
      </span></p>
      <a class="toggle-less" onclick="toggleLess()">{% t global.read_less %}<br/></a> 
      <br/>

      <div class="card">
        <div class="content">
          <div class="description">
            <h2>{% t mission.director.name %}</h2>
            <p class="title"><i class="icofont-businesswoman"></i>&nbsp;&nbsp;{% t mission.director.title %}</p>
            <p class="studies"><i class="icofont-certificate-alt-2"></i>&nbsp;&nbsp;{% t mission.director.studies %}</p>
            <p class="story">
              <div class="catch">
                {% t mission.director.story.catch %}
              </div>
              <br/>
              {% t mission.director.story.content %}
           </p>
         </div>
         <div class="image carolina"></div>
       </div>
     </div>

   </div>
 </div>