{% if site.translations[site.lang].mission %}
<div id="mission">
  <div class="container">
    <h2><i class="icofont-dart"></i>&nbsp;&nbsp;{% t mission.title %}</h2>

    <p>{% t mission.short %} {% t mission.long %}</p>
      <br/>

      <div class="card">
        <div class="content">
          <div class="description">
            <h2>{% t mission.director.name %}</h2>
            <p class="title"><i class="icofont-businesswoman"></i>&nbsp;&nbsp;{% t mission.director.title %}</p>
            <p class="studies"><i class="icofont-certificate-alt-2"></i>&nbsp;&nbsp;{% t mission.director.studies %}</p>
            <p class="story">
              <div class="catch">
                {% t mission.director.story.catch %}
              </div>
              <br/>
              {% t mission.director.story.content %}
           </p>
         </div>
         <div class="image carolina"></div>
       </div>
     </div>

   </div>
 </div>
 {% endif %}