<div id="mission">
  <div class="container">
    <h2><i class="icofont-dart"></i>&nbsp;&nbsp;Nuestra misión</h2>

    <p>En nuestra institución cada profesor tiene la misma misión:  llevar a cabo sus clases bajo el enfoque orientado a la acción o enfoque accional.<span class="dots">..</span>  <a class="toggle-more" onclick="toggleMore()">Leer más</a> 
      <span class="more">
        <br/>
        <b>“El alumno debe ser capaz de realizar una acción” </b>
        <br/><br/>
        El alumno tiene pequeñas tareas en clase, misiones y desafíos sobre situaciones de la vida diaria. Tal como sucede cuando se vive en el extranjero. De esta forma el alumno poco a poco desarrolla la capacidad para analizar, descifrar y aplicar nuevos conocimientos en su entorno social. 
        Por otro lado, trabajamos con secuencias pedagógicas para que el alumno recuerde en cada clase lo que vio la clase anterior. Cada tema se relaciona con el siguiente: la repetición es la base para reforzar y sistematizar los conocimientos ya adquiridos. <br/><br/>
        Además los alumnos improvisan diálogos sobre su vida, entablan conversaciones y actúan un papel social (rol play) con sus compañeros para desenvolverse en situaciones de la vida real. Esto es primordial ya que el alumno es miembro de una sociedad y debe poder comunicarse, actuar e interactuar con los demás miembros de su entorno.
        Nuestro propósito es que aprendas a hablar, escribir, escuchar y leer en el idioma que elijas para trabajar, viajar, vivir en el extranjero y/o por placer. <br/><br/>
        Habla una lengua extranjera para descubrir el mundo y entenderlo. Conoce nuevas personas viajando o en tu país. Trabaja con empresas internacionales y forma parte de nuevas comunidades reales o virtuales.
      </span></p>
      <a class="toggle-less" onclick="toggleLess()">Leer menos<br/></a> 
      <br/>

      <div class="card">
        <div class="content">
          <div class="description">
            <h2>Carolina Ojeda</h2>
            <p class="title"><i class="icofont-businesswoman"></i>&nbsp;&nbsp;Directora Académica</p>
            <p class="studies"><i class="icofont-certificate-alt-2"></i>&nbsp;&nbsp;Maestría en Educación y Formación, DALF, PRO FLE, TKT</p>
            <p class="story">
              <div class="catch">Aprender un idioma fue la mejor decisión de mi vida. Descubrí la cultura francesa, viajé a través de toda Europa,  probé comidas inigualables y además recibí un salario en euros lo que me permitió quedarme varios años en Francia. Conocí a nuevas personas de distintas culturas, incluso a mi esposo. Adopté una nueva visión para mi vida: darle la misma oportunidad a los alumnos de este instituto.</span>
              </div>
                <br/>
              Inicié mi carrera en el año 2013 dando clases de francés en universidades públicas y privadas en México. Con mis conocimientos en francés decidí postularme para obtener una beca como asistente de español lengua extranjera en Francia. Más adelante, estudié la Maestría en Métiers de l'enseignement et de la formation (Educación y formación) en Montpellier. <br/><br/>
              Esto me ha permitido traer a México la experiencia y los conocimientos de la metodología del Consejo de Europa para la enseñanza de lenguas extranjeras. Así mismo, impartir clases a todo tipo de público me ha permitido mejorar mis habilidades para dirigir el instituto. 
           </p>
         </div>
         <div class="image carolina"></div>
       </div>
     </div>

   </div>
 </div>