<div id="other_courses" class="section">
  <div class="container">

    <h2><i class="icofont-group-students"></i>&nbsp;&nbsp;Cursos Objectivos Specificos</h2>

    <p>También tenemos cursos que pueden interesarte para alcanzar OBJETIVOS ESPECÍFICOS</p>

    <div class="course">
      <div class="abstract">
          <div class="name">
            <p>English the American Way</p>
          </div>
          <div class="more-icon"><span>></span></div>
      </div>
      <div class="more">
        <p>Para estudiantes de nivel intermedio que deseen aprender expresiones que se usan en Norteamérica y conocer a fondo su estilo de vida. Este curso implica adentrarse en la cultura para perfeccionar el inglés americano y por fin hablar como un nativo.
        </p>
      </div>
    </div>

      <div class="course">
      <div class="abstract">
          <div class="name">
            <p>Fortalece tus conocimientos</p>
          </div>
          <div class="more-icon"><span>></span></div>
      </div>
      <div class="more">
        <p>Para estudiantes de nivel avanzado que deseen expresar su opinión, debatir y fomentar su cultura general siguiendo temas actuales del mundo que les rodea. Te ayuda además a ampliar tu vocabulario, a perfeccionar tu pronunciación y tener mayor fluidez. Este curso es de gran ayuda para los estudiantes que deseen aprobar una certificación.
        </p>
      </div>
    </div>

    <p>
      En nuestras redes sociales publicamos los cursos que van surgiendo. Tenemos cursos para viajar y trabajar en el extranjero y cursos para aprender a redactar correctamente en inglés y en francés. También preparación para certificaciones. 
    </p>

  </div>
</div>