{% if site.translations[site.lang].prices %}
<div id="prices" class="section">
  <div class="container">

    <h2><i class="icofont-hat"></i>&nbsp;&nbsp;{% t prices.title %}</h2>
    <br/>
    <div class="columns-wrapper">

    {% for plan in site.translations[site.lang].prices.plans %}
    <div class="columns">
      <ul class="price">
        <li class="header">{{ plan["name"] }}</li>
        <li class="grey">{{ plan["price"] }}</li>
        <li>
          {% for lang in plan.languages %}
          <i class="flag {{ lang }}"></i>
          {% endfor %}
        </li>
        <li>{{ plan["students"] }}</li>
        <li>{{ plan["hours"] }}</li>
        <li>{{ plan["teacher"] }}</li>

        {% if plan.link %}
        <li>
          <a id="academic" class="button" href="{{ plan['link'] }}" target="_blank">Me inscribo</a>
        </li>
        {% endif %}
      </ul>
    </div>

    {% endfor %}

    </div>
    <div style="clear:both;"></div>
    <br/><br/>

    <div class="centered">
       <p>
        <small>{% t prices.footnote %}</small>
      </p>
    </div>

  </div>
</div>
{% endif %}