{% if site.translations[site.lang].pricing %}
<div id="pricing" class="section">
  <div class="container">

    <h2>{% t pricing.title %}</h2>
    <br>

    <div class="columns-wrapper">
    {% for plan in site.translations[site.lang].pricing.plans %}
    <a href="{{ site.baseurl }}/course-{{ plan['id'] }}" title="{{ plan['name'] }}">
    <div class="columns scale-up show-once">
      <div class="plan">
        <div class="row header">{{ plan["title"] }}</div>
        <div class="row image {{ plan['id'] }}">
          <div class="price">
            <small>{% t pricing.starting_at %}</small>
            {{ plan["price"] }}
            <div class="more">{% t pricing.more %}</div>
          </div>
        </div>
        <div class="row">
          {% for lang in plan.languages %}
          <i class="flag {{ lang }}"></i>
          {% endfor %}
        </div>
        <div class="row">{{ plan["students"] }}</div>
        {% if plan.cognito_id %}
        <div class="row">
          <a class="button" href="{{ site.baseurl }}/course-{{ plan['id'] }}">{% t header.cta %}<i class="icofont-rounded-right"></i></a>
          <br/>
        </div>
        {% endif %}
      </div>
    </div>
    </a>
    {% endfor %}
    </div>

    <div style="clear:both;"></div>
       
    <!-- <div class="centered">
      <p>
        <small>{% t pricing.footnote %}</small><br/>
        <a class="button contact" href="https://bit.ly/3GnoHCn" target="_blank">{% t pricing.contact_us  %}&nbsp;&nbsp;<i class="icofont-whatsapp"></i></a>
      </p>
    </div> -->

    <div class="logos">
      <ul>
        <li><img src="{{ site.baseurl_root }}/assets/images/logo_cambridge.png"></li>  
        <li><img src="{{ site.baseurl_root }}/assets/images/logo_mdf.png"></li> 
        <li><img src="{{ site.baseurl_root }}/assets/images/logo_hueber.png"></li> 
        <li><img src="{{ site.baseurl_root }}/assets/images/logo_cervantes.png"></li> 
      </ul>
    </div>

  </div>
</div>
<div class="curve">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 200" preserveAspectRatio="none">
    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>
{% endif %}