<div id="prices" class="section">
  <div class="container">

    <h2><i class="icofont-hat"></i>&nbsp;&nbsp;Planes</h2>
    <br/>
    <div class="columns-wrapper">
    <div class="columns">
      <ul class="price">
        <li class="header">Cursos Académicos</li>
        <li class="grey">MXN 1680 / mes</li>
        <li>
          <img src="assets/images/spain.webp" width="32" height="32">
        <img src="assets/images/uk.webp" width="32" height="32">
        <img src="assets/images/france.webp" width="32" height="32">
        <img src="assets/images/germany.webp" width="32" height="32">
        </li>
        <li>6 a 8 alumnos </li>
        <li>4 horas y media / semana</li>
        <li>Profesor en vivo cada clase</li>
        <li>
          <a class="button" href="https://forms.gle/o2do1nqECnVC5kt38" target="_blank"
          onclick="ackeeTracker.action('c9d11d68-06a1-490b-b08b-cfb7cb0978c0', { key: 'Click', value: 1 })">Me inscribo <i class="icofont-rounded-right"></i></a>
        </li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header">Cursos de Conversación</li>
        <li class="grey">MXN 580 / mes</li>
        <li>
          <img src="assets/images/spain.webp" width="32" height="32">
        <img src="assets/images/uk.webp" width="32" height="32">
        <img src="assets/images/france.webp" width="32" height="32">
        <img src="assets/images/germany.webp" width="32" height="32">
        </li>
        <li>5 a 7 alumnos </li>
        <li>6 horas / mes</li>
        <li>Profesor en vivo cada clase</li>
        <li>
          <a class="button" href="https://forms.gle/ykbV1cZgSu6NJ3gq9" target="_blank" 
          onclick="ackeeTracker.action('f5cba383-de08-4811-b55e-e790e8a38dc3', { key: 'Click', value: 1 })">Me inscribo <i class="icofont-rounded-right"></i></a>
        </li>
      </ul>
    </div>
    </div>
    <div style="clear:both;"></div>
    <br/><br/>

    <div class="centered">
       <p>
      <small> <b>Para más información y dudas contáctanos a través de nuestras redes sociales.</b><br/> 
      Si no conoces tu nivel en el idioma que deseas aprender te mandamos un examen de ubicación.<br/> 
      Si tienes compañeros con intereses en común, arma tu grupo.</small>
    
    </p>
    </div>
   

  </div>
</div>
