<link rel="stylesheet" href="{{ "/secondary.css" | prepend: site.baseurl_root }}"/>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>
<script src="{{ "/main.js" | prepend: site.baseurl_root }}" defer></script>

<script defer>
var chatbox = document.getElementById('fb-customer-chat');
chatbox.setAttribute("page_id", "110771488167013");
chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script defer>
window.fbAsyncInit = function() {
FB.init({
  xfbml            : true,
  version          : 'v13.0'
});
};

(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>