<div id="slideshow" class="section">
  <div class="container centered">
    <h2 class="slide">Conviértete en la persona bilingüe que tanto deseas</h2>
    <h2 class="slide">Estudia en otro país para ser más competitivo</h2>
    <h2 class="slide">Gana un mejor salario en tu país o en el extranjero</h2>
    <h2 class="slide">Viaja sin problemas</h2>
    <h2 class="slide">Aprende un idioma solo por gusto o para conocer gente nueva</h2>
    <h2 class="slide">Sé parte de una organización internacional</h2>
    <h2 class="slide">Enseña a otros estudiantes</h2>
  </div>
</div>
