<div id="team">
  <div class="container">
    <h2><i class="icofont-certificate-alt-1"></i>&nbsp;&nbsp;{% t team.title %}</h2>
    <br/>

    {% for teacher in site.translations[site.lang].team.teachers %}
     <div class="member">
      <div class="content">
        <div class="image"><div class='{{ teacher["image"] }}'></div></div>
        <div class="description">
          <h2> {{ teacher["name"] }}
            <img src="assets/images/spain.webp" width="18" height="18">
           </h2>
          <p class="studies"><i class="icofont-certificate-alt-2"></i>&nbsp;&nbsp;{{ teacher["studies"] }}</p>
          <p class="story">
           {{ teacher["story"] }}
         </p>
       </div>
     </div>
   </div>
    {% endfor %}

   <div style="clear:both;"></div> 
    <div class="centered">
      <p>
      {% t team.footnote %}
      <br/> 
      </p>
      <a id="apply" class="button" href="https://forms.gle/q858DdYVSbohSkTy6" target="_blank">{% t team.apply %} <i class="icofont-rounded-right"></i></a>
    </div>

 </div>
</div>