<div id="team">
  <div class="container">
    <h2><i class="icofont-certificate-alt-1"></i>&nbsp;&nbsp;Nuestros profesores</h2>
    <br/>

    <div class="member">
      <div class="content">
        <div class="image"><i class="icofont-teacher"></i></div>
        <div class="description">
          <h2>Tristique Amet Nibh</h2>
          <p class="studies"><i class="icofont-certificate-alt-2"></i>&nbsp;&nbsp;Etiam porta sem malesuada</p>
          <p class="story">
           Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.
         </p>
       </div>
     </div>
   </div>

    <div class="member">
      <div class="content">
        <div class="image"><i class="icofont-businesswoman"></i></div>
        <div class="description">
          <h2>Tristique Amet Nibh</h2>
          <p class="studies"><i class="icofont-certificate-alt-2"></i>&nbsp;&nbsp;Etiam porta sem malesuada</p>
          <p class="story">
           Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.
         </p>
       </div>
     </div>
   </div>

   <div style="clear:both;"></div> 
   
    <div class="centered">
      <p>
      Tienes al minimo una licencia en lenguas o 3 años de experiencia ?<br>Quieres enseñar de tu casa con horas flexibles? <br/> 
      </p>

      <a class="button" href="#">Postular <i class="icofont-rounded-right"></i></a>
    </div>

 </div>
</div>