<div id="testimonials" class="section">

  <div class="container">

    <div class="testimonial-card">
      <div class="content">
        <div class="text">Lorem ipsum dolor sit amet consectetur elit. Ipsa voluptatum ipsum, laudantium minima aliquam porro? <i class="quote">”</i></div>  
        <div style="clear:both;"></div>  
        <div class="footer">
          <div class="image natali"></div>
          <h3 class='person'>Natali</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="testimonial-card">
     <div class="content">
      <div class="text">Lorem ipsum dolor sit amet consectetur elit.  <i class="quote">”</i></div>   
      <div style="clear:both;"></div> 
      <div class="footer">
        <div class="image patrick"></div>
        <h3 class='person'>Enrique</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="testimonial-card">
     <div class="content">
      <div class="text">Lorem ipsum dolor sit amet consectetur elit.  <i class="quote">”</i></div>   
      <div style="clear:both;"></div> 
      <div class="footer">
        <div class="image edel"></div>
        <h3 class='person'>Edel</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="testimonial-card">
     <div class="content">
      <div class="text">Lorem ipsum dolor sit amet consectetur elit.  <i class="quote">”</i></div>  
      <div style="clear:both;"></div>  
      <div class="footer">
        <div class="image pamela"></div>
        <h3 class='person'>Pamela</h3>
      </div>
    </div>
  </div>
</div>

<div style="clear:both;"></div>

</div>
