{% if site.translations[site.lang].testimonials %}
<div id="testimonials" class="section">

  <div class="container">

    <h2><i class="icofont-medal"></i>&nbsp;&nbsp;{% t testimonials.title %}</h2>
    <br/>

    <div class="testimonial-card">
      <div class="content">

        <div class="text">

          Hace varios años inicié las clases de francés con Carolina. Ahora vivo en Paris y estudio Gestion de l'environnement et logistique. Me gustaron los métodos con los que aprendí y la forma en que nos enseñaron a comunicarnos en situaciones reales.<i class="quote">”</i></div>  

        <div style="clear:both;"></div>  

        <div class="footer">
          <div class="image diana"></div>
          <h3 class='person'>Diana</h3>
          <div class="review">⭐⭐⭐⭐⭐</div> 
        </div>
      </div>
    </div>

    <div class="testimonial-card">
     <div class="content">
      <div class="text">Ils ont su dès le départ cibler mes besoins et m’enseigner l’espagnol de façon ludique et pédagogique. C’est un vrai plaisir d’apprendre avec des professeurs qui ont comme langue natale l’espagnol.<i class="quote">”</i></div>   
      <div style="clear:both;"></div> 
      <div class="footer">
        <div class="image laurent"></div>
        <h3 class='person'>Laurent</h3>
        <div class="review">⭐⭐⭐⭐⭐</div> 
      </div>
    </div>
  </div>

  <div class="testimonial-card">
   <div class="content">
    <div class="text">Te forman a pensar rápido y se aprende mucho en poco tiempo. Con las clases de los cursos por objetivos pude encontrar un trabajo más rápido de lo que pensaba. Tengo mucho contacto con extranjeros y hablo con ellos en inglés sin pensar en español. <i class="quote">”</i></div>   
    <div style="clear:both;"></div> 
    <div class="footer">
      <div class="image lupita"></div>
      <h3 class='person'>Lupita</h3>
      <div class="review">⭐⭐⭐⭐⭐</div> 
    </div>
  </div>
  </div>

  <div class="testimonial-card">
   <div class="content">
    <div class="text">Me sirvió bastante aprender con mucha interacción y apoyo del profesor para corregir mis fallas. Logré el nivel de inglés y francés que tanto quería para obtener las certificaciones y poder estudiar un Master en el extranjero.<i class="quote">”</i></div>  
    <div style="clear:both;"></div>  
    <div class="footer">
      <div class="image alvaro"></div>
      <h3 class='person'>Alvaro</h3>
      <div class="review">⭐⭐⭐⭐⭐</div> 
    </div>
  </div>
</div>

<div style="clear:both;"></div>

</div>
</div>
{% endif %}