{% if site.translations[site.lang].testimonials %}
<div id="testimonials" class="section">

  <div class="container">

    <h2>{% t testimonials.title %}</h2>
    <br/>

    <div class="testimonial-card show-once scale-up">
      <div class="content">

        <div class="text">My daughter has become more confident in writing and speaking. She is even starting to read in English, which is something I never thought would happen!
        <i class="quote">”</i></div>  

        <div style="clear:both;"></div>  

        <div class="footer">
          <div class="image evelyn"></div>
          <h3 class='person'>Evelyn</h3>
          <div class="review">
            {% for i in (1..5) %}
            <i class="icofont-star"></i>
            {% endfor %}
          </div> 
        </div>
      </div>
    </div>

    <div class="testimonial-card show-once scale-up">
     <div class="content">
      <div class="text">Ma prof d’espagnol a su dès le départ cibler mes besoins et m’enseigner l’espagnol de façon ludique et pédagogique.<i class="quote">”</i></div>   
      <div style="clear:both;"></div> 
      <div class="footer">
        <div class="image laurent"></div>
        <h3 class='person'>Laurent</h3>
        <div class="review">
          {% for i in (1..5) %}
          <i class="icofont-star"></i>
          {% endfor %}
          </div> 
      </div>
    </div>
  </div>

  <div class="testimonial-card show-once scale-up">
   <div class="content">
    <div class="text">I found a job faster. My english teacher makes me have an interest in learning English continuously. The lessons fully fulfills my expectations and needs.<i class="quote">”</i></div>   
    <div style="clear:both;"></div> 
    <div class="footer">
      <div class="image lupita"></div>
      <h3 class='person'>Lian</h3>
      <div class="review">
         {% for i in (1..5) %}
          <i class="icofont-star"></i>
          {% endfor %}
      </div> 
    </div>
  </div>
  </div>

  <div class="testimonial-card show-once scale-up">
   <div class="content">
    <div class="text">Logré el nivel de inglés y francés que tanto quería para obtener las certificaciones y poder estudiar un Master en el extranjero.<i class="quote">”</i></div>  
    <div style="clear:both;"></div>  
    <div class="footer">
      <div class="image alvaro"></div>
      <h3 class='person'>Alvaro</h3>
      <div class="review">
        {% for i in (1..5) %}
        <i class="icofont-star"></i>
        {% endfor %}
      </div> 
    </div>
  </div>
</div>

<div style="clear:both;"></div>

</div>
</div>
{% endif %}