html {
  background: $body-color;
}

body {
  height: 100%;
  background: $body-color;
  color: #111;
  font-family: $body-font;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: $title-font, sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #111;
}

h2 {
  font-family: $subtitle-font, serif;
  font-size: 2.2rem;
  line-height: 1.5;
  padding: 2rem 0 1rem;
  font-weight: 600;
}

h3 {
  font-family: $subtitle-font, serif;
  color: #111;
  font-size: 1.4rem;
  padding: 1rem 0;
  font-weight: bold;
}

ul {
  list-style-type: disc;
  padding-left: 4rem;
}

p, li {
  color: #667;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 1rem auto;
}

a {
  text-decoration: none;
  transition: color 300ms;
  color: $accent-color;

  &:hover {
    color: $accent-color;
  }
}

.centered {
  text-align: center;
}

.wrapper {
  padding-top:70px;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.section {
  padding: 3rem 0;
}

.curve{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve svg {
  position: relative;
  display: block;
  width: calc(146% + 1.3px);
  height: 85px;
}

.curve .shape-fill {
  fill: $accent-light;
}

.button {
  transition: 0.3s;
  font-family: sans-serif;
  color: white;
  border-radius: 360px;
  display: inline-block;
  padding: 8px 24px 7px;
  background-color: lighten($green-color, 5%);
  text-decoration: none;
  text-transform:uppercase;
  font-weight: 800;
  font-size:0.9rem;

  box-shadow: 0 4px 6px rgba(0,0,0,.2);

  &:hover {
    color: white;
    background-color: darken($green-color, 5%);
  }
}

.flag {

    &.es {  
      background: url("./assets/images/es.webp");
    }
    &.en {
      background: url("./assets/images/en.webp");
    }
    &.fr {
      background: url("./assets/images/fr.webp");
    }
    &.de {
      background: url("./assets/images/de.webp");
    }

    background-repeat: no-repeat;
    background-position: center; 
    width: 32px;
    height: 32px;
    display: inline-block;
    background-size: cover !important;
  }

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
  }
  p, li {
    font-size: 1.1rem;
  }

  .section {
    padding: 2.5rem 0;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}