
#banner {

  z-index:999;
  position:fixed;
  width:100%;
  height : 70px;
  background: $accent-light;

  #logo {
    background: url("./assets/images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 40px;
    height: 40px;
    margin-bottom: -4px;
    margin-right: -4px;
    display: inline-block;
  }

  & img {
    float:left;
    margin: 15px 0 15px 0;
  }

  & .title {
    display:inline;
    & h1 {
      display:inline;
      line-height:86px;
      font-size:2rem;
    }
  }

  span {
    font-weight: bold;
    font-family: $subtitle-font;
  }
}

#nav {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  display: inline;
  float: right;
  font-size: 1em;
  color:#222;

  .languages {
    display: inline;

    i.flag {
      height: 18px;
      width: 18px;
      margin-right: 8px;
      margin-bottom: -3px;
    }

    a {
      padding: 20px;
    }

    span {
      font-size: 15px;
      font-family: $body-font;
      font-weight: normal;
      color: #111;
    }

    ul {
      margin:17px 0 0;
      padding:0 0 20px;
      list-style: none;
      display: inline-block;
    }

    li {
      cursor: pointer;
      padding:5px 10px;
      margin: 0;
      background-color: white;
      border-radius:8px;
    }

    li ul {
      display: none;
    }

    ul:hover ul {
      position: absolute;
      top:64px;
      display: block;
      background: #fff;
      z-index: 1;
      box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
      border-radius:6px;
    }

    li ul {
      padding: 0;
      margin: 0 0 0 -8px;
    }

    li ul li {
      text-align: left;
      padding:10px 0;
      margin: 0; 
      border-radius:0px;
    }

    li ul li:first-child {
     border-radius:6px 6px 0 0;
    }

    li ul li:last-child {
      border-radius:0 0 6px 6px;
    }

    li ul li:hover {
      background-color:#EEE;
    }
  }

}
