
#benefits {

  padding: 2rem 0 0;

  .content{

    flex-flow: row;
    display: flex;

    .image {
        max-width: 30%;
        flex: 1;
        margin: 20px 10px 0 0; 

        &.student {
          background: url("assets/images/student.webp") no-repeat;
          background-size: contain;
          background-position: bottom;
        }
      }

      ul {
        flex: 2;
        list-style: none;
        padding: 0 2rem 2rem 2rem;
      }
      li::before {
        content: "✓";
        color: $green-color;
        padding-right: 1rem;
      }
  }

 @media only screen and (max-width: 800px) {
    .content {
        .image {
          display: none;
        }
      }
  }
  
}
