.button {
  font-family:Helvetica;
  color: white;
  border-radius: 360px;
  display: inline-block;
  padding: 8px 24px 8px;
  background-color: darken($accent-color, 10%);
  text-decoration: none;
  text-transform:uppercase;
  font-weight: bold;
  font-size:1rem;
  &:hover {
    color: white;
    background-color: $accent-color;
  }
}