
#faq {

  .question {

    margin: 16px 0;
    padding: 0 5rem;

    @media (max-width: 800px) {
      padding: 0;
    }

    .abstract {
      display: inline-block;
      width: 100%;
      padding: 0 1rem;
      cursor: pointer;

      background: $accent-light;
      border-radius: 12px;
      position:relative;

      .name {
         display: inline-block;
         p {
          font-size: 18px;
          font-weight: 600;
          color: $accent-color;
          padding-right: 30px;
          padding-left: 10px;
         }
      }

      .more-icon {
        display: inline-block;
        transition: all 300ms;
        font-family: sans-serif;
        margin:0;
        font-size: 34px;
        font-weight: 100;
        position: absolute;
        right:20px;
        text-align: right;
        transform: rotate(0deg) scale(1);
        color: $accent-color;
      }
      .name {
        transition: 0.3s;
      }
      
      &:hover {
        .name {
          translate: 8px 0;
        }
      }

      &.show {
        .more-icon {
          transform: rotate(45deg) scale(1.1);
        }
        .more {
          max-height: 2000px;
          transition: max-height 0.5s ease-in-out;
        }
      }

      .more {
        margin: 0;
        font-weight: 200;
        max-height: 0px;
        overflow-y: hidden;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

        span {
          font-family: $subtitle-font;
          padding: 1rem 0 0.2rem;
          display: block;
          font-size: 1.4rem;
          font-weight: bold;
        }

        p {
          margin: 0;
          padding: 0 1rem 2rem;
          font-size: 1rem;
          color: $text-color1;
        }

        ul {
          margin-top: 0; 
          padding-top: 0;
        }

        li {
          font-size: 1.1rem;
        }

      }
    }

  }
}