
#faq {

  transition: all 500ms;

  .question {

    margin: 16px 0;

    .abstract {
      display: inline-block;
      width: 100%;
      padding: 0 1rem;
      cursor: pointer;
      transition: all 500ms;

      background: $accent-light;
    }

    .name p {
      font-size: 18px;
      float: left;
      font-weight: 600;
      color: $accent-color;
    }

    .more-icon {
      font-family: sans-serif;
      margin:7px 0 0 0;
      font-size: 28px;
      font-weight: 100;
      float: right;
      text-align: right;
      transition: all 300ms;
      transform: rotate(0deg);
      color: $accent-color;
      &.open {
        transform: rotate(45deg);
      }
    }

    .more {
      background: $accent-light;
      border-radius: 4px;
      margin: -10px 0 0;
      background-repeat: none;
      background-origin: center;
      background-attachment: fixed;
      font-weight: 200;
      max-height: 0;
      overflow-y: hidden;
      transition: all 500ms cubic-bezier(0.540, 0.010, 0.020, 0.995); /* custom */

      &.show {
        max-height: 9999px;
        display: block;
      }

      span {
        font-family: $subtitle-font;
        padding: 1rem 0 0.2rem;
        color: #555;
        display: block;
        font-size: 1.4rem;
        font-weight: bold;
      }

      p {
        padding: 0 2rem 1.5rem;
        font-size: 1.1rem;
      }

      ul {
        margin-top: 0; 
        padding-top: 0;
      }

      li {
        font-size: 1.1rem;
      }

    }
  }
}