#footer {

  padding: 3rem 0 5rem;
  background-color: darken($accent-color, 38%);

  .copyrights {
    text-align: center;
  }

  nav {

    h4 {
      font-family: $subtitle-font;
      font-size: 1.4rem;
      font-weight: bold;
      padding-bottom: 12px;
      color: lighten($complement-color, 20%);
    }

    .copyrights {
      width: 15%;
      position: relative;
      p {
        font-size: 1rem;
        color: $white-faded1;
        display: block;
        padding-top: 0;
      }
    }

    .column {
     &.copyrights {
      float: right;
    }
    float: left;
    width: 25%;
    padding: 20px;

    &.social ul {
      li {
        display: inline-block !important;
        transition: opacity 0.3s;
        display: inline;
        padding: 6px 4px;
        opacity: 1.0;
        &:hover {
          opacity: 0.7;
        }
      }
    }

    ul {
      padding: 5px 0;
      list-style-type: none;
      li {
        padding: 8px 0;
        margin: 0;
        font-size: 1rem;
        line-height: 1.2rem;
      }

      a {
        color: $white-faded1;
      }

      a:hover {
        color: $white-faded2;
      }

    }
  }
}
}

@media (max-width: 600px) {
  #footer nav .column {
    width: 100%;
    text-align: center;
  }
}