
#header {

  padding: 4rem 0 1rem;
  position: relative;
  background: url("assets/images/h4.webp") no-repeat;
  background-size: contain;
  background-position: right bottom;
  min-height: 600px;

  .waves {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    z-index:1;
  }

  .container {
    padding: 0;
  }

  .content{
    position: relative;
    z-index: 5;

    .column {
      float: left;
      &.left {
        text-align: center;
        width: 50%;
        padding-bottom: 4rem;
      }
      &.right {
        width: 50%;
      }

      h1 {
        padding: 20px;
        font-weight: 1200;
        font-family: Impact;
        font-size: 3.5em;
        

        background: $accent-color;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom right, $accent-color, $complement-color);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom right, $accent-color, $complement-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      ul {
        display: inline-block;
        text-align: left;
        list-style: none;
        padding: 0 0 20px;
        margin:auto;
        li {
          color: $text-color1;
          font-weight: bold;
        }
      }

      span {
        color:red;
      }

      li::before {
        content: "✓";
        color: $green-color;
        padding-right: 1rem;
      }

    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

  }

  & .button {
    margin: auto;
    padding: 12px 20px;
  }

  .flags {
    display: block;
    padding: 14px;
    .flag {
      width: 22px;
      height: 22px;
      margin-left: 6px;
    }
  }


  @media (max-width: 1000px) {

    .waves {
      z-index: 10;
    }

    background: none;
    padding: 2rem 0 0rem;
    min-height: 0px;

    .content{

      .button {
        margin: auto;
        padding: 12px 20px;
        margin-bottom: 10px;
      }

      flex-direction: column;
      .column {
        display: block;

        &.left {
          padding-bottom: 1rem;
        }

        &.left, &.right {
         width: 100%;

         h1, li {
          color: #000;
        }

        .image {
          height: 280px;
          background: url("assets/images/h4.webp") no-repeat;
          background-size: contain;
          background-position: bottom;
        }
      }
    }
  }
}

}


/* Animation */

.parallax {
  z-index: 0;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 10s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 13s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 16s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 25s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

#wave1 {
  fill:rgba($complement-color, 0.7);
}
#wave2 {
  fill:rgba($accent-color, 0.5);
}
#wave3 {
  fill: rgba($complement-color, 0.3);
}
#wave4 {
  fill:$accent-color;
}
