
#header {
  padding: 4rem 0 0rem;
  position: relative;
  background: url("assets/images/h4.webp") no-repeat;
  background-size: contain;
  background-position: right bottom;
  min-height: 500px;

  .container {
    padding: 0;
  }

  .content{

    .column {
      float: left;
      &.left {
        text-align: center;
        width: 50%;
        padding-bottom: 4rem;
      }
      &.right {
        width: 50%;
      }

      h1 {
        padding: 20px;
        font-weight: 1200;
        font-family: Impact;
        font-size: 3.5em;
        color: #000;

        background: $accent-color;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom right, $accent-color, $complement-color);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom right, $accent-color, $complement-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      ul {
        display: inline-block;
        text-align: left;
        list-style: none;
        padding: 0 0 20px;
        margin:auto;
        li {
          color: #000;
          font-weight: bold;
        }
      }

      span {
        color:red;
      }

      li::before {
        content: "✓";
        color: $green-color;
        padding-right: 1rem;
      }

    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

  }

  & .button {
    margin: auto;
    padding: 12px 20px;
  }

  .flags {
    display: block;
    padding: 14px;
    .flag {
      width: 22px;
      height: 22px;
      margin-left: 6px;
    }
  }


  @media (max-width: 1000px) {

    background: none;
    padding: 2rem 0 0rem;

    .content{

      .button {
        margin: auto;
        padding: 12px 20px;
        margin-bottom: 10px;
      }

      flex-direction: column;
      .column {
        display: block;

        &.left {
          padding-bottom: 1rem;
        }

        &.left, &.right {
         width: 100%;

         h1, li {
          color: #000;
        }

        .image {
          height: 280px;
          background: url("assets/images/h4.webp") no-repeat;
          background-size: contain;
          background-position: bottom;
        }
      }
    }
  }
}

}


