
#header {
  padding: 4rem 0 0rem;
  position: relative;
  background: url("assets/images/home.jpg") no-repeat;
  background-size: cover;

  .container {
    padding: 0;
  }

  .content{

    .column {
      float: left;
      &.left {
        text-align: center;
        width: 50%;
        padding-bottom: 4rem;
      }
      &.right {
        width: 50%;
      }

      .button {
        padding: 12px 20px;
        margin-bottom: 50px;
      }

      h1 {
        padding: 20px;
        font-weight: 1200;
        font-family: Impact;
        font-size: 3.5em;
        color: #FFF;
      }

      ul {
        display: inline-block;
        text-align: left;
        list-style: none;
        padding: 0 0 20px;
        margin:auto;
        li {
          color: #FFF;
        }
      }

      li::before {
        content: "✓";
        color: $green-color;
        padding-right: 1rem;
      }

      .image {
        margin: 0;
        padding: 0; 
      }
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

  }

  & .button {
    margin: auto;
  }


  & .front {
    width: auto;
    height: 480px;
    background: url("./assets/images/front2.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    animation: fadein 4s;
  }


  @media (max-width: 800px) {

    background: none;
    padding: 2rem 0 0rem;

    .content{

      flex-direction: column;
      .column {
        display: block;
        &.left, &.right {
         width: 100%;

         h1, li {
          color: #000;
        }

        .image {
          height: 360px;
          background: url("assets/images/home.jpg") no-repeat;
          background-size: cover;
          background-position: right;
        }
      }
    }
  }
}

}


