@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');

html {
  background: $body-color;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: $body-color;
  color: #111;
  font-family: 'Montserrat', serif;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: $title-font, sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #111;

}

h2 {
  font-family: $subtitle-font, serif;
  font-size: 2.2rem;
  line-height: 1.5;
  padding: 2rem 0 1rem;
}

h3 {
  font-family: $subtitle-font, serif;
  color: #111;
  font-size: 1.4rem;
  padding: 1rem 0;
  font-weight: bold;
}


ul {
  list-style-type: disc;
  padding-left: 4rem;
}

p, li {
  color: #667;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 1rem auto;
}

a {
  text-decoration: none;
  transition: color 300ms;
  color: $accent-color;

  &:hover {
    color: $accent-color;
  }
}

.centered {
  text-align: center;
}

.wrapper {
  padding-top:70px;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.section {
  padding: 3rem 0;
}

#banner {

  z-index:999;
  position:fixed;
  width:100%;
  height : 70px;
  background: lighten($accent-color, 52%);

  & img {
    float:left;
    height: 40px;
    margin: 15px 0 15px 0;
  }

  & .title {
    display:inline;
    & h1 {
      display:inline;
      line-height:86px;
      font-size:2rem;
    }
  }

  & .button {
    float:right;
    margin: 18px 0 20px;
  }
}

header {
  padding: 2rem 0 4rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  z-index: 20;
  text-align: center;


  & .title{
    padding: 2rem 0 3rem;    

    .name {
      font-family: $logo-font, sans-serif;
      font-size: 5rem;
      color: $accent-color;
      padding:0;
      margin:0;
      line-height: 3.8rem;
      font-weight: bold;
      span {
        margin-right: -20px;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 17px;
      }
    }

    .tagline {
      font-size: 1.5rem;
      line-height:1.5rem;
      padding:2rem;
      margin:0;
    }

  }

  & .front {
    width: auto;
    height: 620px;
    background: url("./assets/images/front.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    animation: fadein 4s;
  }
}


#slideshow {
  background-color: lighten($complement-color, 52%);
  padding-top: 4rem;
  height: 250px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & .slide {
    display: none;
    padding: 2rem;    
  }
}

#benefits {
  ul {
    list-style: none;
    padding-left: 1rem;
  }
  li::before {
    content: "✓";
    color: adjust-hue($accent-color, 320deg);
    padding-right: 1rem;
  }
}





#contact {
  & .button {
    margin: 3rem 0 0.5rem;
  } 
}


#quote {
  background-color: lighten($accent-color, 52%);

  // font-family: $subtitle-font, serif;
  padding: 2rem 0 4rem;
  & .container {
    text-align: center;
    padding: 2rem;
  }

  &:before, &:after {
    display: block;
    content: "";
    border-top: 1px solid $accent-color;
    width: 5rem;
    bottom:0;
    position: relative;
    margin: 0 auto;
  }

}

footer {

  padding: 4rem 0 2rem;

  .copyrights {
    text-align: center;
  }

  nav {
    display: flex;
    flex-flow: row wrap;

    h5 {
      font-family: $subtitle-font;
      font-size: 1.4rem;
    }

    .copyrights {
      float: right;
      width: 15%;
      position: relative;
      p {
        font-size: 1rem;
        color: #111;
        display: block;
        padding-top: 0;
      }
    }

    .column {
      float: left;
      width: 25%;
      padding: 20px;

      ul {
        padding: 5px 0;
        list-style-type: none;
        li {
          padding: 8px 0;
          margin: 0;
          font-size: 1rem;
          line-height: 1.2rem;
        }

        a {
          color: #111;
        }

      }
    }
  }
  
}

.curve{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve svg {
  position: relative;
  display: block;
  width: calc(146% + 1.3px);
  height: 85px;
}

.curve .shape-fill {
  fill: lighten($accent-color, 52%);
}


@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
  }
  p, li {
    font-size: 1.1rem;
  }

  .section {
    padding: 2.5rem 0;
  }

  header {
    & .front {
      height: 250px;
    }
  }

  footer nav .column {
    width: 100%;
    text-align: center;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}