
#prices {



    /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 14px;
  }

    ul li:first-child {    
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    ul li:last-child { 
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

  /* Style the list */
  .price {
    list-style-type: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
  }

  /* Pricing header */
  .price .header {
    background-color: $accent-color;
    color: white;
    margin: 0;
    font-weight: bold;
    
  }

  .price .header.premium {
      background-color: adjust-hue($accent-color, 320deg);
    }

  /* List items */
  .price li {
    border-bottom: 1px solid #ccc;
    padding: 14px;
    text-align: center;
    margin: 0;
  }

  /* Grey list item */
  .price .grey {
    background-color: lighten($complement-color, 52%);
    font-size: 20px;
    color: #111;
    font-weight: bold;
    font-family: $subtitle-font;
  }

  /* The "Sign Up" button */
  .button {
    background-color: adjust-hue($accent-color, 320deg);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    &:hover {
      background-color: lighten(adjust-hue($accent-color, 320deg), 5%);
    }
  }

  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
}
