#prices {
  background: $accent-light;

  .columns-wrapper {
    width: 900px;
    margin: 0 auto;
  }

  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 300px;
    padding: 12px;
  }

  .button.contact {
    margin-top: 8px;
    background-color: $green_color;
    border-radius: 6px;
    font-size: 11px;
    &:hover {
      background-color: darken($green_color, 10%)
    }
  }

  .plan {
    display: block;

    .row {
      display: block;
      color:$text-color1;
      &.image {
        border: none;
        &.academic {
          background: url("assets/images/academic.webp") no-repeat;
          background-size: cover;
          background-position: center top;
        }
        &.conversational {
          background: url("assets/images/conversational.webp") no-repeat;
          background-size: cover;
          background-position: center top;
        }
        &.kids {
          background: url("assets/images/kids.webp") no-repeat;
          background-size: cover;
          background-position: center center;
        }

        height: 180px;
        position: relative;
        padding: 0;
      }

      .price {
        display: block;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: absolute;
        bottom: 0;
        padding: 4px 0;
        font-size: 20px;
        color: $text-color1;
        font-weight: bold;

        small {
          display: block;
          margin-bottom: -5px;
          font-size: 10px;
          color: rgba($text-color1, 0.3);
          text-transform: uppercase;
        }
      }
    }
  }

  /* Style the list */
  .plan {
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 20, 0.15);

    .more {
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;

      max-height: 0px;
      overflow: hidden;
      color: $complement-color;
      font-size: 12px;
      text-transform: uppercase;
    }

    &:hover {
      border-radius: 10px;
      box-shadow: 0 6px 15px rgba(0, 0, 20, 0.3);
      .more {
        max-height: 500px;
      }
    }
  }

  /* List items */
  .plan .row {
    &.header {
      background: $accent-color; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to bottom right,
        $accent-color,
        $complement-color
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to bottom right,
        $accent-color,
        $complement-color
      );
      color: white;
      margin: 0;
      font-weight: bold;
      border-bottom: 0;
    }

    font-size: 18px;
    border-left: 1px solid $accent-light;
    border-right: 1px solid $accent-light;
    border-bottom: 1px solid $accent-light;
    padding: 10px;
    text-align: center;
    margin: 0;
    background: white;

    &.header {
      font-size: 20px;
      border-left: 0px solid red;
      border-right: 0px solid red;
    }

    .flag {
      margin-bottom: -5px;
      margin-right:5px; 
    }

    &.more {
      height: 0px;

      a {
        opacity: 0;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 900px) {
    .columns-wrapper {
      width: 100%;
      .columns {
        width: 90%;
        margin: auto;
        float: none;
        .more {
          max-height: 500px;
        }
      }
    }
  }
}
