
#prices {

  background: $accent-light;

  .columns-wrapper {
    width: 900px;
    margin: 0 auto;
  }

    /* Create three columns of equal width */
    .columns {
      float: left;
      width: 300px;
      padding: 12px;
    }

    ul li:first-child {    
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    ul li:last-child { 
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

  /* Style the list */
  .price {
    background-color: $body-color;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,20,.15);

    &:hover {
      border-radius: 10px;
      box-shadow: 0 6px 15px rgba(0,0,20,.3);
    }
  }

  /* Pricing header */
  .price .header {
    background: $accent-color;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, $accent-color, $complement-color);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, $accent-color, $complement-color);
    color: white;
    margin: 0;
    font-weight: bold;
  }

  /* List items */
  .price li {
    font-size: 18px;
    border-left: 1px solid $accent-light;
    border-right: 1px solid $accent-light;
    border-bottom: 1px solid $accent-light;
    padding: 14px;
    text-align: center;
    margin: 0;

    &.header {
      font-size: 20px;
      border-left: 0px solid red;
      border-right: 0px solid red;
    }
  }

  /* Grey list item */
  .price .grey {
    background-color: $accent-light;
    font-size: 20px;
    color: #111;
    font-weight: bold;
  }

  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 800px) {

    .columns-wrapper {
      width: 100%;
      .columns {
        width: 100%;
      }
    }
    
  }
}
