
#quote {
  background-color: $accent-light;

  // font-family: $subtitle-font, serif;
  padding: 4rem 0;
  & .container {
    text-align: center;
    padding: 2rem;
  }

  &:before, &:after {
    display: block;
    content: "";
    border-top: 1px solid $accent-color;
    width: 5rem;
    bottom:0;
    position: relative;
    margin: 0 auto;
  }

}
