
#quote {

  background: $accent-color;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, $accent-color, $complement-color);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, $accent-color, $complement-color);

  // font-family: $subtitle-font, serif;
  padding: 3rem 0;

  h3{
    color: #fff;
    font-size: 2rem;
  }

  p{
    color: rgba(255,255,255, 0.6);
    font-weight: bold;
  }

  & .container {
    text-align: center;
    padding: 2rem;
  }

}
