$anim-duration: 15s;

.slider {

}

.slide1,.slide2,.slide3,.slide4 {
  position: absolute;
}
.slide1 {
    animation:fade $anim-duration infinite;
-webkit-animation:fade $anim-duration infinite;
} 
.slide2 {
    animation:fade2 $anim-duration infinite;
-webkit-animation:fade2 $anim-duration infinite;
}
.slide3 {
    animation:fade3 $anim-duration infinite;
-webkit-animation:fade3 $anim-duration infinite;
}
.slide4 {
    animation:fade4 $anim-duration infinite;
  -webkit-animation:fade4 $anim-duration infinite;
}
.slide5 {
    animation:fade5 $anim-duration infinite;
  -webkit-animation:fade5 $anim-duration infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  20% { opacity: 0}
  40% { opacity: 0}
  60% { opacity: 0}
  80% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  20% { opacity: 1}
  40% { opacity: 0}
  60% { opacity: 0}
  80% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  20% { opacity: 0}
  40% { opacity: 1}
  60% { opacity: 0}
  80% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  20% { opacity: 0}
  40% { opacity: 0}
  60% { opacity: 1}
  80% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade5
{
  0%   {opacity:0}
  20% { opacity: 0}
  40% { opacity: 0}
  60% { opacity: 0}
  80% { opacity: 1}
  100% { opacity: 0}
}