#slideshow {

  background-color: $complement-light;
  padding-top: 4rem;
  height: 200px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & .slide {
    display: none;
    padding: 2rem;    
  }

  @media only screen and (max-width: 800px) {
    h2 {
      font-size: 1.5rem;
    }
  }

}

