#team {

  padding: 2rem 0;
  background-color: lighten($accent-color, 52%);

  .card {

    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
    display: flex;
    background-color: white;
    border-radius: 10px;

    .description {
      display: inline-block;
      flex: 1;
      padding: 10px 40px 40px 40px;

      h2{
        padding: 1rem 0 0.2rem ;
        color:$accent-color
      }
      p {
        &.title {
          font-weight: bold;
          color: $complement-color;
          margin: 0;
        }
        font-size: 1rem;
      }

      p.title, p.studies {
         padding: 2px;
         margin: 0;
         font-weight: bold;
      }
      p.studies {
         color: #111;
      }

    }

    .image {
      display: inline-block;
      background: url("assets/images/carolina.jpg") no-repeat;
      background-size: contain;
      background-position: bottom;
      max-width: 30%;
      flex: 2;
      margin: 20px 10px 0 0; 
    }
    
  }

  @media only screen and (max-width: 600px) {
  .card {
    display: block;
    .description {
      padding-bottom: 0;
    }
    .image {
      display: block;
      background-position: bottom;
      height: 250px;
      background-size: contain;
      margin: 0 auto; 
      max-width: 100%;
      width: 100%;
    }
  }
}

}

