#team {

  padding: 2rem 0;
  background-color: $accent-light;

  p {
    padding: 4rem 0 2rem;
    font-size: 1rem;
  }

  .member {

    background-color: white;
    border-radius: 10px;

    .content {
      position: relative;
      margin: 0 0 2rem;
      .image {
        position: absolute;
        bottom: -14px;
        margin-left: 4px;
        i {
          font-size: 140px;
          color: $accent-light;
        }
      }

      .description {
        margin-left: 150px;
        h2 {
          color: $accent-color;
          font-size: 1.5rem;
          padding: 1rem 0 0;
        }
        
        p {
          font-size: 0.9rem;
          padding: 0 20px 24px 0;

          &.studies {
            font-size: 1rem;
            font-family: $subtitle-font;
            padding: 0;
            margin: 0;
            font-weight: bold;
            color: #111;
          }

          &.story {
            padding: 0.5rem 2rem 1.5rem 0;
            margin: 0;
          }
        }
      }
      
    }
  }

  @media only screen and (max-width: 800px) {
    .member {

      .content {
        text-align: center;
        .image {
        width: 100%;
      }

        .description {
          margin-left: 0px;
          margin-bottom: 20px;
          padding: 0 0 120px 20px;
        }
        
      }
    }
  }
}