
#testimonials {

  padding: 2rem 0 2rem;
  clear: both;

  .testimonial-card {
    float: left;
    width: 25%;
    padding: 10px;

    .review {
      color: $yellow-color;
      i {
        margin-right: -5px;
        font-size: 1em;
      }
    }

    .content {
      transition: 500ms all;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,.15);

      &:hover {
        border-radius: 10px;
        box-shadow: 0 6px 16px rgba(0,0,0,.3);
        scale: 1.03;
      }
    }

    .text {
      padding: 1.5em .5rem 0 1.5rem;
      font-size: 0.9rem;
      font-weight: 500;
      color: $text-color1;
    }

    .image {
      background-color:#ddd;
      height: 90px;
      width: 90px;
      border-radius: 50%;

      position: absolute;
      top: -38%;
      left: 50%;
      transform: translateX(-50%);
      display:flex;
      justify-content:center;

      &.lupita {
        background:no-repeat center/cover url("./assets/images/lupita.webp");
      }
      &.laurent {
        background:no-repeat center/cover url("./assets/images/laurent.webp");
      }
      &.evelyn {
        background:no-repeat center/cover url("./assets/images/evelyn.webp");
      }
      &.alvaro {
        background:no-repeat center/cover url("./assets/images/alvaro.webp");
      }
    }

    .footer{
      background: $accent-color;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom right, $accent-color, $complement-color);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom right, $accent-color, $complement-color);
      border-radius: 0 0 10px 10px;
      position:relative;
      text-align: center;
      margin-top: 0px;
    }

    .quote {
      font-size: 400%;
      width:50px;
      float: right;
      opacity: .1;
      transform: rotate(10deg) translate(-10px, -10px);
      color:$accent-color;
      font-family: $subtitle-font;
    }

    .person{
      color: white;
      position: relative;
      font-size:1.2rem;
      font-weight: 600;
      padding: 45px 0 0;
    }

    .review {
      text-align:center; 
      padding:0 0 20px;
      font-size: 1.2em;
    }

  }

  @media only screen and (max-width: 800px) {
    .testimonial-card {
       width: 80%;
        margin: auto;
        float: none;
    }
  }

}
