<!DOCTYPE html>
<html lang="en-US">

    {% include head.html %}

<body>

  {% include banner.html %}

  {% if site.translations[site.lang].pricing %}
  {% assign plan = site.translations[site.lang].pricing.plans[page.index] %}
  <div id="courses" class="section">
    <div class="container">

      <h2><i class="icofont-group-students"></i>&nbsp;&nbsp;{{ plan.title }}</h2>
      
      <div class="course">
        {{ plan.content | markdownify }}
      </div>
    </div>
  </div>

  <div id="pricing" class="section">
    <div class="container columns-wrapper">

      <div class="columns show-once scale-up" style="float:none;margin:auto">
        <div class="plan">
          <div class="row header">{{ plan["name"] }}</div>
          <div class="row image {{ plan['id'] }}">
            <div class="price">
              <small>{% t pricing.starting_at %}</small>
              {{ plan["price"] }}
            </div>
          </div>
          <div class="row">
            {% for lang in plan.languages %}
            <i class="flag {{ lang }}"></i>
            {% endfor %}
          </div>
          <div class="row">{{ plan["students"] }}</div>

          {% if plan.cognito_id %}
          <div class="row">
            <a class="button" href="#stripe">{% t global.start %}<i class="icofont-arrow-down"></i></a>
          </div>
          {% else %}
          <div class="row">
            <a class="button">Coming soon</a>
          </div>
          {% endif %}
        </div>
      </div>


      <div style="clear:both;"></div>
      <br/>

    </div>

    <div class="logos">
      <ul>
        <li><img src="{{ site.baseurl_root }}/assets/images/logo_cambridge.png"></li>  
        <li><img src="{{ site.baseurl_root }}/assets/images/logo_mdf.png"></li> 
        <li><img src="{{ site.baseurl_root }}/assets/images/logo_hueber.png"></li> 
        <li><img src="{{ site.baseurl_root }}/assets/images/logo_cervantes.png"></li> 
      </ul>
    </div>

  </div>

  {% include stripe.html %}

  <br/>

  {% endif %}

  {% include footer.html %}

  {% include messenger_plugin.html %}

  {% include scripts.html %}
  
</body>
</html>