<!DOCTYPE html>
<html lang="en-US">

    {% include head.html %}

<body>

  {% include banner.html %}

  {% if site.translations[site.lang].courses %}
  {% assign course = site.translations[site.lang].courses.items[page.index] %}
  <div id="courses" class="section">
    <div class="container">

      <h2><i class="icofont-group-students"></i>&nbsp;&nbsp;{{ course.title }}</h2>
      
      <div class="course">
        {{ course.content | markdownify }}
      </div>
    </div>
  </div>
  {% endif %}

  {% if site.translations[site.lang].prices %}
  {% assign plan = site.translations[site.lang].prices.plans[page.index] %}
  <div id="prices" class="section">
    <div class="container columns-wrapper">

      <div class="columns show-once scale-up" style="float:none;margin:auto">
        <div class="plan">
          <div class="row header">{{ plan["name"] }}</div>
          <div class="row image {{ plan['id'] }}">
            <div class="price">
              <small>{% t prices.starting_at %}</small>
              {{ plan["price"] }}
            </div>
          </div>
          <div class="row">
            {% for lang in plan.languages %}
            <i class="flag {{ lang }}"></i>
            {% endfor %}
          </div>
          <div class="row">{{ plan["students"] }}</div>

          {% if plan.cognito_id %}
          <div class="row">
            <a class="button" href="#form">{% t global.start %}<i class="icofont-arrow-down"></i></a>
          </div>
          {% else %}
          <div class="row">
            <a class="button">Coming soon</a>
          </div>
          {% endif %}
        </div>
      </div>

      <div style="clear:both;"></div>
      <br/>

    </div>
  </div>

  {% if plan.cognito_id %}
  <div id="form" class="section">
    <div class="container">
      <script src="https://www.cognitoforms.com/f/seamless.js"
          data-key="yNRU0goCO0O9ivM65aiOmw" 
          data-form="{{ plan.cognito_id }}">
      </script>
    </div>
  </div>
  {% endif %}

  {% endif %}

  {% include footer.html %}

  {% include messenger_plugin.html %}

  {% include scripts.html %}
  
</body>
</html>