<!DOCTYPE html>
<html lang="en-US">

    {% include head.html %}

<body>

  {% include banner.html %}

  <div class="wrapper">

    {% include header.html %}

    {% include slideshow.html %}

    {% include benefits.html %}

    {% include courses.html %}

    {% include prices.html %}

    {% include testimonials.html %}

    {% include mission.html %}

    {% include team.html %}

    {% include quote.html %}

    {% include footer.html %}

    {% include messenger_plugin.html %}

  </div>

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous" defer></script>
  <script src="./assets/scripts/main.js" defer></script>
  <script async src="https://ackee-qsnz.onrender.com/tracker.js" 
  data-ackee-server="https://ackee-qsnz.onrender.com" 
  data-ackee-domain-id="5512170c-57cd-4cc4-bb59-b704ac436c89"></script>
</body>
</html>