<!DOCTYPE html>
<html lang="en-US">

    {% include head.html %}

<body>

  {% include banner.html %}

  <div class="wrapper">

    {% include header.html %}

    {% include slideshow.html %}

    {% include benefits.html %}

    {% include courses.html %}

    {% include prices.html %}

    {% include testimonials.html %}

    {% include team.html %}

    {% include quote.html %}

    {% include footer.html %}

  </div>

  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="./assets/scripts/main.js"></script>
</body>
</html>