<!DOCTYPE html>
<html lang="en-US">

    {% include head.html %}

<body>

  {% include banner.html %}

  <div class="wrapper">

    {% include header.html %}

    {% include slideshow.html %}

    {% include benefits.html %}

    {% include prices.html %}

    {% include testimonials.html %}

    {% include faq.html %}

    {% include quote.html %}

    {% include footer.html %}

    {% include messenger_plugin.html %}

  </div>

  
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous" defer></script>
  <script src='https://unpkg.com/scrollreveal'></script>
  <script src="{{ "/main.js" | prepend: site.baseurl_root }}" defer></script>
  
</body>
</html>