<!DOCTYPE html>
<html lang="en-US">

    {% include head.html %}

<body>

  {% include banner.html %}

  <div class="wrapper">
    <div class="section">
        <div class="container">
            <h4 id="confirmation" style="display: none;">{% t form.title %}</h4>
            <h3>{% t form.subtitle %}</h3>
            <script src="https://www.cognitoforms.com/f/seamless.js" data-key="yNRU0goCO0O9ivM65aiOmw" data-form="{% t form.id %}"></script>
        </div>
    </div>
  </div>
  

  {% include footer.html %}

  {% include messenger_plugin.html %}

  {% include scripts.html %}
  
</body>
</html>