<!DOCTYPE html>
<html lang="en-US">

    {% include head.html %}

<body>

  {% include banner.html %}

    
  <div class="wrapper">
    <div class="section">
        
        <div class="container">
            <h3>{% t payment.title %}</h3>
            <p>{% t payment.subtitle %}</p>
            <br>
            <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
            <stripe-pricing-table pricing-table-id="{% t payment.stripe_link_id %}"
            publishable-key="pk_live_51MkA0fHYqBoU7agenJrdfC1qZNAUfcbO7DuHGwpA2YCj3gAsru5mLj499Ln5iK6d3h6eBIRLLigpqmK059nze6T400AiNP2wRj">
            </stripe-pricing-table>
        </div>
    </div>
</div>
   


  {% include footer.html %}

  {% include messenger_plugin.html %}

  {% include scripts.html %}
  
</body>
</html>