<!DOCTYPE html>
<html lang="en-US">

    {% include head.html %}

<body>

  {% include banner.html %}

  <div class="wrapper">

    {% include team.html %}

    {% include footer.html %}

    {% include messenger_plugin.html %}

  </div>

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous" defer></script>
  <script src="https://ackee-qsnz.onrender.com/tracker.js"></script>
  <script src="{{ "/main.js" | prepend: site.baseurl_root }}" defer></script>
  
</body>
</html>